@page
@using Constants
@model RazorPagesMovie.Pages.Movie.IndexModel

@{
    ViewData[ViewDataKeys.Title] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="searchString">
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies.Single().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.Single().ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.Single().Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.Single().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.Single().Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Rating)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@movie.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@movie.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@movie.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
